app-widget {
	display: block;
	width: 100%;
}

.widget {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 4px;
	border: 3px solid #abf;
	border-top: none;
}

.widget > span {
	display: block;
	padding: 0 3px;
	padding-bottom: 1px;
	background-color: #abf;
}

.widget:hover {
	border-color: #aeb;
	> span {
		background-color: #aeb;
	}
	> .content-container > .add-widget-button, > .content-container > .add-column-button {
		visibility: visible;
	}
}

.a-button {
	text-decoration: underline;
	cursor: pointer;
}

.content-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 4px;
	padding-bottom: 0;
	min-height: 70px;
}

.layout > .content-container {
	flex-direction: row;
	padding-right: 0;
}

.content-container > * {
	margin-bottom: 4px !important;
}

.layout > .content-container > * {
	margin-right: 4px !important;
}

.add-widget-button {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 4px;
	visibility: hidden;
}

.add-widget-button > select {
	font-size: 13px;
	font-family: Arial, sans-serif;
	height: 20px;
	background-color: #eee;
	border: 1px dashed #aaa;
	border-radius: 4px;
	outline: none;
}

.layout-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 4px;
}

.layout-content-body {
	width: 100%;
	display: flex;
}

.layout-content-body > * {
	margin-right: 4px;
}

.add-column-button {
	height: 70px;
	display: flex;
	align-items: center;
	text-align: center;
	background-color: #eee;
	border: 1px dashed #aaa;
	border-radius: 4px;
	padding: 3px;
	cursor: pointer;
	visibility: hidden;
}
