<div [class]="cssClass(name)">
  <span>
    {{ name }} - <a class="a-button" (click)="builder.selectedWidget = this">properties</a>
  </span>

  <div class="content-container">
    <app-widget *ngFor="let widget of content"
      [name]="widget.name"
      [properties]="widget.properties"
      [styles]="widget.styles"
      [content]="widget.content">
    </app-widget>

    <div *ngIf="widgetSet(name).length > 0" class="add-widget-button">
      <select (change)="addWidgetClicked($event)">
        <option value="add widget">Add a widget:</option>
        <option *ngFor="let w of widgetSet(name)" [value]="w">{{ w }}</option>
      </select>
    </div>
    <div *ngIf="name === 'layout'" class="add-column-button" (click)="addWidget('column')">
      add <br> column
    </div>
  </div>
</div>
