app-properties-bar {
    display: block;
    position: fixed;
    width: 300px;
    height: 100%;
    top: 4px;
    right: 4px;
    padding-left: 4px;
    padding-bottom: 8px;
}

.properties {
    margin-bottom: 4px;
}

.properties, .styles {
    height: calc(50% - 2px);
}

app-properties-bar .widget {
    border-color: #aeb !important;
}

app-properties-bar .widget > span {
    background-color: #aeb !important;
}

.bar-content {
    padding: 4px;
    overflow-y: auto;
}

.styles-form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.styles-form > span {
    text-align: center;
    margin-bottom: 4px;
}

.styles-form input {
    width: 100%;
}
