app-properties-bar {
    display: block;
    position: fixed;
    width: 300px !important;
    height: calc(100% - 8px);
    top: 4px;
    right: 4px;
    border-color: #aeb !important;
}

app-properties-bar > .widget-title {
    background-color: #aeb !important;
}

app-properties-bar > div {
    padding: 10px 4px;
}
