<div class="widget">
  <span>Widget properties</span>

  <div class="bar-content" *ngIf="!component">No widget selected</div>
  <div class="bar-content" *ngIf="component">something selected</div>
</div>

<div class="widget">
  <span>Widget styles</span>

  <div class="bar-content" *ngIf="!component">No widget selected</div>
  <div class="bar-content" *ngIf="component">
    <div class="styles-form" #stylesForm>
      <span>property</span>
      <span>value</span>
      <ng-container *ngFor="let k of styleKeys(); let i = index">
        <input type="text" [value]="k" (change)="onStyleKeyChange(k, $event)">
        <input type="text" [value]="styleVal(k)" (change)="onStyleValChange(k, $event)">
      </ng-container>
      <input type="text" (change)="onNewStyle($event)">
      <div style="padding: 2px 4px">← press enter to add</div>
    </div>
  </div>
</div>
