<div class="properties widget">
  <span>{{ component ? component.name : 'widget' }} properties</span>

  <div class="bar-content" *ngIf="!component">No widget selected</div>
  <div class="bar-content" *ngIf="component">
    <ng-container *ngIf="widget.widgetType !== undefined">
      visibility condition:<br>
      <input type="text" [value]="widget.visibility?.condition || ''"
        (change)="onVisibilityConditionChange($event)">
    </ng-container>

    <ng-container [ngSwitch]="component.name">
      <ng-container *ngSwitchCase="'chart'">
        <div style="margin-top: 7px">options:</div>
        <app-object-editor [widget]="widget" objectName="options"></app-object-editor>
      </ng-container>

      <ng-container *ngSwitchCase="'data'">
        <div style="margin-top: 3px">
          <a [ngClass]="{'object-name': true, 'object-name-selected': objectName === 'options'}"
            (click)="objectName = 'options'">options</a>
          |
          <a [ngClass]="{'object-name': true, 'object-name-selected': objectName === 'datalabels'}"
            (click)="objectName = 'datalabels'">data labels</a>:
        </div>
        <!-- It isn't sufficient to bind to objectName, destroy and recreate the component: -->
        <app-object-editor *ngIf="objectName === 'options'" objectName="options"
          [widget]="widget"></app-object-editor>
        <app-object-editor *ngIf="objectName === 'datalabels'" objectName="datalabels"
          [widget]="widget"></app-object-editor>
      </ng-container>

      <ng-container *ngSwitchCase="'table'">
        <div style="margin-top: 7px">cell styles:</div>
        <app-styles-editor [widget]="widget" stylesName="cellStyles"></app-styles-editor>
      </ng-container>
      
      <ng-container *ngSwitchCase="'cell'">
        formula:<br>
        <input type="text" [value]="widget.formula?.formula || ''"
          (change)="onFormulaChange('formula', $event)"><br>
        aggregation: <select (change)="onAggregationChange($event)" style="margin-top: 7px">
          <option value="0" [selected]="widget.aggregation.aggregation === 0 ? 'selected' : ''">None</option>
          <option value="1" [selected]="widget.aggregation.aggregation === 1 ? 'selected' : ''">Sum</option>
          <option value="2" [selected]="widget.aggregation.aggregation === 2 ? 'selected' : ''">Average</option>
          <option value="3" [selected]="widget.aggregation.aggregation === 3 ? 'selected' : ''">Weighted Average</option>
        </select>
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="styles widget">
  <span>{{ component ? component.name : 'widget' }} {{ component?.name === 'cell' ? 'style' : 'styles' }}</span>

  <div class="bar-content" *ngIf="!component">No widget selected</div>
  <div class="bar-content" *ngIf="component">
    <app-styles-editor [widget]="widget"
      [stylesName]="component.name === 'cell' ? 'style' : 'styles'">
    </app-styles-editor>
  </div>
</div>
