<div [ngClass]="{widget: true, 'widget-selected': builder.selectedComponent === this}">
  <span>chart - type:
    <select (change)="onChartTypeChange($event)">
      <option *ngFor="let name of chartTypes; let i = index"
        [value]="i" [selected]="chart.chartType === i ? 'selected' : ''">{{ name }}</option>
    </select>
  </span>

  <div class="content">
    <div class="chart-labels-input">
      labels: <input type="text" [value]="getLabelsFormula()"
        (change)="onLabelsChange($event)">
    </div>
    dataset:<br>
    <app-chart-data *ngFor="let data of chart.dataset"
      name="data" [widget]="data" [parent]="chart"></app-chart-data>

    <div class="add-widget-button">
      <a class="add-data-button" (click)="addData()">add data</a>
    </div>
  </div>
</div>
