app-chart {
    display: block;
    width: 100%;
}

.chart-labels-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-labels-input > input {
    font-family: "Lucida Console", Monaco, monospace;
    margin-left: 4px;
    width: 60%;
}

.add-data-button {
    width: 100px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
	border: 1px dashed #aaa;
	border-radius: 4px;
}
