app-container {
	display: block;
	width: 100%;
}

.column-width-input {
	width: 50px;
	height: 17px;
	font-family: "Lucida Console", Monaco, monospace;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 4px;
	padding-bottom: 0;
	min-height: 70px;
}

.content > * {
	margin-bottom: 4px;
}

.layout-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 4px;
	padding-right: 0;
}

.layout-content > * {
	margin-right: 4px;
}

.add-widget-button {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 4px;
	visibility: hidden;
}

.add-widget-button > select {
	font-size: 13px;
	font-family: Arial, sans-serif;
	height: 20px;
	background-color: #eee;
	border: 1px dashed #aaa;
	border-radius: 4px;
	outline: none;
}

.add-column-button {
	height: 70px;
	display: flex;
	align-items: center;
	text-align: center;
	background-color: #eee;
	border: 1px dashed #aaa;
	border-radius: 4px;
	padding: 3px;
	cursor: pointer;
	visibility: hidden;
}
