<div [ngClass]="{widget: true, 'widget-selected': builder.selectedComponent === this}">

  <span>{{ name }}
    <ng-container *ngIf="widget.widgetType === WT.Column">
      - width: <input class="column-width-input" type="text" [value]="columnWidth()"
        (change)="onColumnWidthChange($event)">
    </ng-container>
  </span>

  <div [class]="widget.widgetType === WT.Layout ? 'layout-content' : 'content'">
    <ng-container *ngFor="let child of (widget | widgetAsContainer).content">
      <ng-container [ngSwitch]="child.widgetType">
        <app-container *ngSwitchCase="WT.Layout" name="layout"
          [widget]="child" [parent]="widget" [widgetSet]="[7]">
        </app-container>

        <app-page-break *ngSwitchCase="WT.PageBreak"
          [widget]="child" [parent]="widget"></app-page-break>

        <app-text *ngSwitchCase="WT.Text"
          [widget]="child" [parent]="widget"></app-text>

        <app-container *ngSwitchCase="WT.Column" name="column"
          [widget]="child" [parent]="widget" [widgetSet]="[0,2,3,4,5,6,9]">
        </app-container>
      </ng-container>
    </ng-container>

    <div *ngIf="widget.widgetType === WT.Layout" class="add-column-button"
      (click)="addWidget(WT.Column)">
      add <br> column
    </div>
    <div *ngIf="widget.widgetType !== WT.Layout" class="add-widget-button">
      <select (change)="addWidgetClicked($event)">
        <option value="-1">Add a widget:</option>
        <option *ngFor="let wt of widgetSet" [value]="wt">{{ widgetName[wt] }}</option>
      </select>
     </div>
  </div>
</div>
