<div [ngClass]="{widget: true, 'widget-selected': builder.selectedComponent === this}">

  <span>{{ name }}
    <ng-container *ngIf="widget.widgetType === WT.Column">
      - width: <input class="column-width-input" type="text" [value]="columnWidth()"
        (change)="onColumnWidthChange($event)">
    </ng-container>
  </span>

  <div [class]="widget.widgetType === WT.Layout ? 'layout-content' : 'content'">
    <ng-container *ngFor="let child of container.content">
      <ng-container [ngSwitch]="child.widgetType">
        <app-container *ngSwitchCase="WT.Layout" name="layout"
          [widget]="child" [parent]="widget" [widgetSet]="[7]">
        </app-container>

        <app-page-break *ngSwitchCase="WT.PageBreak" name="page break"
          [widget]="child" [parent]="widget"></app-page-break>

        <app-image *ngSwitchCase="WT.Image" name="image"
          [widget]="child" [parent]="widget"></app-image>

        <app-text *ngSwitchCase="WT.Text" name="text"
          [widget]="child" [parent]="widget"></app-text>

        <app-chart *ngSwitchCase="WT.Chart" name="chart"
          [widget]="child" [parent]="widget"></app-chart>

        <app-table *ngSwitchCase="WT.Table" name="table"
          [widget]="child" [parent]="widget"></app-table>

        <app-map *ngSwitchCase="WT.Map" name="map"
          [widget]="child" [parent]="widget"></app-map>

        <app-container *ngSwitchCase="WT.Column" name="column"
          [widget]="child" [parent]="widget" [widgetSet]="[0,2,3,4,5,6,9]">
        </app-container>

        <app-image-container *ngSwitchCase="WT.ImageContainer" name="image container"
          [widget]="child" [parent]="widget"></app-image-container>
      </ng-container>
    </ng-container>

    <div *ngIf="widget.widgetType === WT.Layout" class="add-column-button"
      (click)="addWidget(WT.Column)">
      add <br> column
    </div>
    <div *ngIf="widget.widgetType !== WT.Layout" class="add-widget-button">
      <select (change)="addWidgetClicked($event)">
        <option value="-1">Add a widget:</option>
        <option *ngFor="let wt of widgetSet" [value]="wt">{{ widgetName[wt] }}</option>
      </select>
     </div>
  </div>
</div>
