app-report-builder {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-right: 300px; // space for properties bar
	background-color: white;
	
	font-family: Arial, sans-serif;
	font-size: 13px;
}

app-report-builder input, app-report-builder textarea {
	// Firefox needs this.
	font-family: Arial, sans-serif;
	font-size: 13px;
}

select {
	font-size: 13px;
	font-family: Arial, sans-serif;
	height: 20px;
	background-color: #eee;
	border: 1px dashed #aaa;
	border-radius: 4px;
	outline: none;
}

.editor {
	width: 100%;
	height: 100%;
	padding-right: 4px;
	margin-bottom: 4px;
	overflow-y: scroll;
}

.editor > * {
	margin-bottom: 4px;
}

.output-window {
	border-color: #ec4 !important;
}

.output-window > span {
	background-color: #ec4 !important;
}

.output-window > textarea {
	border: none;
	resize: none;
	outline: none;
	width: 100%;
	height: 300px;
	font-family: "Lucida Console", Monaco, monospace;
}

.widget {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 4px;
	border: 3px solid #abf;
	border-top: none;
}

.widget > span {
	display: block;
	padding: 0 3px;
	padding-bottom: 1px;
	background-color: #abf;
}

.widget:hover {
	> .content > .add-widget-button, > .layout-content > .add-column-button {
		visibility: visible;
	}
}

.widget-selected {
	border-color: #aeb;
	> span {
		background-color: #aeb;
	}
}

.a-button {
	text-decoration: underline;
	cursor: pointer;
}
