app-report-builder {
	position: relative;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: auto 250px;
	grid-template-rows: auto 200px;
	grid-gap: 5px;
}

.super {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #222;
	font-family: "Lucida Console", Monaco, monospace;
}
