<div class="editor">
  <app-widget name="report"
    [content]="[{name: 'header'}, {name: 'content'}, {name: 'footer'}]">
  </app-widget>
</div>

<div class="output-window widget">
  <span>
    Output - <a class="a-button" (click)="showOutput = !showOutput">
      {{ showOutput ? 'hide' : 'show' }}
    </a>
  </span>
  <textarea [style.display]="showOutput ? 'block' : 'none'"
    readonly="true">{{ toObject() | json }}</textarea>
</div>

<app-properties-bar [widget]="selectedWidget"></app-properties-bar>
