<div class="editor">
  <div class="widget">
    <span class="widget-title">header</span>
    <app-content [widgetSet]="[0,2,3,9]" #header></app-content>
  </div>

  <div class="widget">
    <span class="widget-title">content</span>
    <app-content [widgetSet]="[0,1,2,3,4,5,6,9]" #content></app-content>
  </div>

  <div class="widget">
    <span class="widget-title">footer</span>
    <app-content [widgetSet]="[0,2,3,9]" #footer></app-content>
  </div>
</div>

<div class="output-window widget">
  <span class="widget-title">
    Output - <a class="a-button" (click)="showOutput = !showOutput">
      {{ showOutput ? 'hide' : 'show' }}
    </a>
  </span>
  <textarea [style.display]="showOutput ? 'block' : 'none'"
    readonly="true">{{ toObject() | json }}</textarea>
</div>
