app-image-container {
    display: block;
    width: 100%;
}

.imagecontainer-formula-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagecontainer-formula-input > input {
    font-family: "Lucida Console", Monaco, monospace;
    margin-left: 4px;
    width: 60%;
}
