<div [ngClass]="{widget: true, 'widget-selected': builder.selectedComponent === this}">
  <span>image container - image type:
    <select (change)="onImageTypeChange($event)">
      <option *ngFor="let key of keys(IT)" [value]="IT[key]"
        [selected]="IT[key] === imageContainer.imageType ? 'selected' : ''">{{ key }}</option>
    </select>
  </span>

  <div class="content">
    <div class="imagecontainer-formula-input">
      {{ formulaInputLabel() }}<input type="text" [value]="getFormula()"
        (change)="onFormulaChange($event)">
    </div>
    <img src="assets/image404.png">
  </div>
</div>
