app-table-cell {
    display: block;
    width: 100%;
}

.table-cell input {
    width: 100%;
    border: 2px solid #abf;
    border-radius: 2px;
    outline: none;
}

.table-cell-selected input {
    border-color: #aeb;
}
