app-chart-data {
    display: block;
    width: 100%;
}

.chart-data {
    width: 100%;
    display: flex;
    border: 2px solid #abf;
    border-radius: 2px;
}

.chart-data-selected {
    border-color: #aeb;
}
