app-styles-editor {
    display: block;
    width: 100%;
}

.styles-form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.styles-form > span {
    text-align: center;
    margin-bottom: 4px;
}

.styles-form input {
    width: 100%;
}
