app-object-editor {
    display: block;
    width: 100%;
}

app-object-editor textarea {
    margin-top: 3px;
    width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
    resize: none;
    outline: none;
    background-color: #ecc;
}

.valid-json {
    background-color: white !important;
}
