app-report {
	overflow-y: scroll;
}

app-report > * {
	margin-bottom: 4px;
}

.widget-title {
	display: block;
	padding: 3px;
	padding-top: 0;
	background-color: #bcf;
}

.widget,
app-layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 3px solid #bcf;
	border-radius: 4px;
}

.widget-content {
	width: 100%;
	min-height: 70px;
	background-color: white;
	padding: 4px;
	padding-bottom: 0;
}

.widget-content > * {
	margin-bottom: 4px;
}
