.widget-title {
	display: inline-block;
	padding: 3px;
	padding-top: 0;
	font-size: 15px;
}

.widget,
app-report,
app-layout {
	display: block;
	width: 100%;
	background-color: #bcf;
	padding: 3px;
}

.widget-content {
	width: 100%;
	min-height: 100px;
	background-color: white;
	padding: 4px;
}
