<div [ngClass]="{widget: true, 'widget-selected': builder.selectedComponent === this}">
  <span>table</span>

  <table class="table-content">
    <tr *ngFor="let row of table.dataset; let i = index">
      <td *ngFor="let cell of row">
        <app-table-cell name="cell" [widget]="cell" [parent]="table"></app-table-cell>
      </td>
      <td *ngIf="i === 0" [attr.rowspan]="table.dataset.length" style="width: 60px">
        <div class="add-column-button" (click)="addColumn()" style="width: 55px">
          add <br> column
        </div>
      </td>
    </tr>
    <tr>
      <td [attr.colspan]="(table.dataset[0] || []).length">
        <div class="add-widget-button" style="margin-bottom: 0">
          <a class="add-row-button" (click)="addRow()">add row</a>
        </div>
      </td>
    </tr>
  </table>
</div>
