app-text {
    display: block;
    width: 100%;
}

app-text textarea {
    border: none;
	resize: none;
	outline: none;
	width: 100%;
	height: 100px;
	font-family: "Lucida Console", Monaco, monospace;
}
